@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Montserrat:100,200,300,400,500,600,700,800,900');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}
div {
    font-family: 'Montserrat', sans-serif; 
}
Nav.Link {
    font-family: 'Montserrat', sans-serif; 
}