@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Montserrat:100,200,300,400,500,600,700,800,900');

body {
    font-family: 'Montserrat', sans-serif;
}
h1 h2 h3 h4 h5 h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
p {
    font-family: 'Montserrat', sans-serif;
}